<h2>Nový import draftov</h2>
<% if !@box %>
  <p>Pre import draftov vyberte v hornej lište schránku, do ktorej sa má import realizovať.</p>
<% elsif !@box.is_a?(Upvs::Box) %>
  <p>Pre import draftov vyberte v hornej lište schránku typu ÚPVS, do ktorej sa má import realizovať.</p>
<% else %>
  <div class="flex p-8">
    <%= "Import prebehne do schránky " %>
    <%= render Common::BoxLabelComponent.new(@box) %>
    <%= @box.name %>
  </div>
  <%= form_tag upvs_message_drafts_imports_path, method: :post, multipart: true do %>
    <%= text_field_tag :box_id, @box.id, hidden: true %>
    <%= label_tag :content, 'Import' %>
    <%= file_field_tag :content, accept: "application/zip" %>
    <br/>
    <br/>
    <%= submit_tag 'Nahrať' %>
  <% end %>
<% end %>
