 <%= tag.turbo_frame id: "action-#{@index}", class: "flex justify-start self-stretch grow" do %>
  <div class="flex justify-between items-center self-stretch flex-grow flex-shrink-0 relative">
    <%= @form.hidden_field :id %>
    <div class="flex gap-1">
      <p class="text-base font-medium text-left text-gray-900"><%= t @form.object.type %></p>
      <% if @form.object.object_based? %>
        <p class="text-base text-left text-gray-900"><%= @form.object.action_object.name %></p>
        <%= @form.hidden_field :value %>
      <% else %>
        <p class="text-base text-left text-gray-900"><%= @form.object.value %></p>
      <% end %>
      <%= @form.hidden_field :type %>
    </div>
    <%= @form.hidden_field :action_object_type %>
    <%= @form.hidden_field :action_object_id %>
    <% if @editable %>
      <div class="flex">
        <%= button_tag type: "submit", title: "Upraviť akciu", formaction: settings_automation_action_path(index: @index), formmethod: :post do %>
          <%= render Common::EditButtonComponent.new %>
        <% end %>
        <%= button_tag type: "submit", title: "Zmazať akciu", formaction: settings_automation_action_path(id: @form.object.id, index: @index), formmethod: :delete do %>
          <%= render Common::DeleteButtonComponent.new %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
