 <%= tag.turbo_frame id: "condition-#{@index}", class:"flex justify-start self-stretch grow" do %>
  <div class="flex justify-between items-center self-stretch flex-grow flex-shrink-0 relative">
    <div class="flex gap-1">
      <p class="text-base text-left text-gray-900"><%= t @form.object.attr %></p>
      <p class="text-base font-medium text-left text-gray-900"><%= t @form.object.type %></p>
      <p class="text-base text-left text-gray-900"><%= @form.object.value %></p>
      <%= @form.hidden_field :attr %>
      <%= @form.hidden_field :type %>
      <%= @form.hidden_field :value %>
    </div>
    <% if @editable %>
      <div class="flex">
        <%= button_tag type: "submit", formaction: settings_automation_condition_path(index: @index), formmethod: :post, data: {turbo_frame: "condition-#{@index}"} do %>
          <%= render Common::EditButtonComponent.new %>
        <% end %>
        <%= button_tag type: "submit", formaction: settings_automation_condition_path(id: @form.object.id, index: @index), formmethod: :delete, data: {turbo_frame: "condition-#{@index}"} do %>
          <%= render Common::DeleteButtonComponent.new %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
