<turbo-frame id="modal">
  <div class="fixed inset-0 z-50 p-2" role="dialog" aria-modal="true">
    <div class="fixed inset-0 transition-opacity bg-gray-400 bg-opacity-75" aria-hidden="true"></div>
    <div class="relative flex items-center justify-center h-full">
      <div class="flex flex-col justify-start items-start w-[900] overflow-hidden rounded-lg bg-white border border-gray-300" role="dialog" style="box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);">
        <div class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0">
          <div class="flex justify-start items-center self-stretch flex-grow-0 flex-shrink-0 overflow-hidden gap-4 p-6 border-t-0 border-r-0 border-b border-l-0 border-gray-200">
            <div class="flex flex-col justify-start items-start flex-grow relative">
              <p class="self-stretch flex-grow w-[788px] text-xl font-semibold text-left text-gray-900"> Úprava pravidla </p>
              <p class="flex-grow-0 flex-shrink-0 text-xs text-left text-gray-500"> Krok 2 z 2 – Akcie v prípade splnenia podmienok </p>
            </div>
            <%= link_to settings_automation_rules_path, data: { turbo_frame: "_top" } do %>
              <%= render Common::CloseButtonComponent.new %>
            <% end %>
          </div>
          <div class="flex justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-4 p-6 bg-white border-t-0 border-r-0 border-b border-l-0 border-gray-200">
            <%= render Icons::InfoComponent.new %>
            <p class="flex-grow w-[804px] text-base text-left text-gray-900"> Pravidlo obsahuje ľubovoľný počet akcií, ktoré nastanú ak sú splnené všetky podmienky pravidla. </p>
          </div>
          <div class="flex justify-start items-center self-stretch flex-grow-0 flex-shrink-0 gap-4 p-6 border-t-0 border-r-0 border-b border-l-0 border-gray-200">
            <%= form_with model:[:settings, @automation_rule, @automation_rule.actions.new], class:"contents" do |form| %>
              <%= form.select :type, @action_type_list, {}, {class:"mt-2 block rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-400 ring-1 ring-inset ring-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"} %>
              <%= form.text_field :value, class:"mt-2 block rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-400 ring-1 ring-inset ring-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              <%= button_tag :submit do %>
                <%= render Common::AddButtonComponent.new %>
              <% end %>
            <% end %>
          </div>
          <div class="flex flex-col justify-between items-start self-stretch flex-grow-0 flex-shrink-0 gap-4 p-6 border-t-0 border-r-0 border-b border-l-0 border-gray-200">
            <% @automation_rule.actions.each do |action| %>
              <% if action.id %>
                <div class="flex justify-between items-center self-stretch flex-grow flex-shrink-0 relative">
                  <div class="flex justify-start items-center self-stretch flex-grow flex-shrink-0 relative gap-2">
                    <p class="text-base font-medium text-left text-gray-900"><%= t action.type %></p>
                    <%# TODO: Zatial strasny workaround, nemam domyslenu strukturu tych parametrov - asi bude email (staticky text?), tag, user na priradenie, ... %>
                    <p class="text-base text-left text-gray-900"><%= action.params["tag_name"] %></p>
                  </div>
                  <%= link_to settings_automation_rule_automation_action_path(@automation_rule, action.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
                    <%= render Common::DeleteButtonComponent.new %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="flex justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2 p-6">
          <div class="flex justify-center items-center flex-grow relative overflow-hidden gap-2.5 px-3.5 py-2.5 rounded-md bg-white border border-gray-300">
            <p class="flex-grow-0 flex-shrink-0 text-base font-medium text-left text-gray-900"> Zahodiť zmeny </p>
          </div>
          <div class="flex justify-center items-center flex-grow relative overflow-hidden gap-2.5 px-3.5 py-2.5 rounded-md bg-blue-600">
            <p class="flex-grow-0 flex-shrink-0 text-base font-medium text-left text-white">Uložiť</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
