<%= @form.hidden_field :id %>
<div class="gap-4 p-4">
  <div class="sm:col-span-4">
    <%= @form.label :name, 'Názov pravidla', class:"block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= @form.text_field :name, class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
    </div>
  </div>
  <div class="sm:col-span-3">
    <%= @form.label :trigger_event, 'Udalosť spúšťajúca pravidlo', class:"block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= @form.select :trigger_event, @trigger_events_list, {}, {class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"} %>
    </div>
  </div>
</div>
