<div class="self-stretch p-6 border-b border-gray-200 justify-between items-center gap-4 inline-flex" id="<%= dom_id(group) %>">
  <div class="flex gap-4 justify-start">
    <div class="inline-flex shrink-0 grow-0 items-center justify-center w-16 h-16 bg-blue-600 rounded-full">
      <span class="text-white text-2xl font-normal"><%= group.name[0] %></span>
    </div>
    <div class="flex-col justify-start items-start shrink-0 w-48 gap-1 inline-flex">
      <div class="text-center text-gray-900 text-lg font-medium leading-loose">
        <%= group.name %>
      </div>
      <div class="text-center text-gray-500 text-base font-normal leading-normal">
        <%= t("user", count: group.users.count) %>
      </div>
    </div>
    <div class="flex flex-col justify-start items-start gap-2 px-4 flex-grow">
      <% if group.boxes.any? %>
        <div class="flex flex-wrap justify-start items-start gap-2">
          <% group.boxes.each do |box| %>
            <div class="flex justify-center items-center gap-2 px-3 py-1 rounded-full bg-gray-100 border border-gray-300">
              <span class="text-xs font-medium text-gray-500 uppercase tracking-wide"><%= t('admin.groups.permissions.type.box') %></span>
              <p class="text-sm font-medium text-gray-900"><%= box.name %></p>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if group.tags.any? %>
        <div class="flex flex-wrap justify-start items-start gap-2">
          <% group.tags.each do |tag| %>
            <%= render Common::TagComponent.new(tag) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="justify-start items-start gap-2 flex">
    <%= link_to edit_permissions_admin_tenant_group_path(group.tenant, group), title: t('admin.groups.permissions.edit'), data: { turbo_frame: "_top" }  do %>
      <%= render Common::EditButtonComponent.new %>
    <% end %>
  </div>
</div>
