<%= tag.turbo_frame id: dom_id(@message) do %>
  <%= tag.div class: "relative flex flex-col justify-stretch items-stretch rounded-md border border-gray-200 bg-white data-[mode=historylog]:-top-2 data-[mode=historylog]:mb-4", data: { mode: @mode } do %>
    <div class="flex justify-between items-start gap-4 px-4 sm:px-6 pt-6 pb-4 border-b border-gray-200">
      <div class="flex flex-col gap-2 basis-3/4">
        <dl class="flex flex-col gap-2 text-gray-90 text-sm leading-6">
          <div class="flex">
            <dt class="w-[100px] shrink-0 hidden sm:block">
              Predmet:
            </dt>
            <dd>
              <div class="hidden sm:block font-semibold [word-break:break-word]">
                <%= @message.title %>
              </div>
              <div class="sm:hidden font-bold [word-break:break-word]">
                <%= @message.title %>
              </div>
            </dd>
          </div>
          <%= render MessageHeaderSectionComponent.new(small_screen_label: "Od:", label: "Odosielateľ:", value: @message.sender_name || "Neznámy") %>
          <%= render MessageHeaderSectionComponent.new(small_screen_label: "Komu:", label: "Adresát:", value: @message.recipient_name || "Neznámy") %>
        </dl>
        <%= render MessageStateComponent.new(message: @message, classes: "md:hidden") %>
      </div>
      <div class="flex flex-col items-end gap-2">
        <div class="flex justify-end gap-0.5">
          <time class="shrink-0 md:hidden text-sm py-0.5" datetime="<%= @message.delivered_at %>">
            <%= helpers.nice_datetime(@message.delivered_at) %>
          </time>
          <time class="shrink-0 hidden md:block text-sm py-0.5" datetime="<%= @message.delivered_at %>">
            <%= helpers.nice_datetime_with_time(@message.delivered_at) %>
          </time>
          <%= render MessageOptionsComponent.new(message: @message, mode: @mode) %>
        </div>
        <%= render MessageStateComponent.new(message: @message, classes: "hidden md:flex") %>
      </div>
    </div>
    <% if @message.visualizable_body? %>
      <div class="flex flex-col justify-stretch items-start relative gap-4 p-6 border-t-0 border-r-0 border-b border-l-0 border-gray-200">
      <% if @message.html_visualization %>
          <div class="w-full invisible h-[150px] transition-all">
            <%= tag.iframe class: "relative border-none overflow-hidden h-full w-full", scrolling: "no", srcdoc: @message.html_visualization, onload: "(
            function(iframe) {
              iframe.contentWindow.document.body.style['height'] = 'unset';
              iframe.contentWindow.document.body.style['min-height'] = 'unset';
              iframe.contentWindow.document.body.style['transform-origin'] = '0 0';

              const getParentHeight = (height) => `${height + 20}px`;

              iframe.parentElement.style.height = getParentHeight(iframe.contentWindow.document.body.scrollHeight);

              const parentRo = new ResizeObserver(([parent]) => {
                  const { scrollWidth: iframeWidth, clientHeight: iframeHeight } = iframe.contentWindow.document.body;
                  const parentWidth = parent.contentRect.width - 24;
                  const scale = parentWidth / iframeWidth;

                  if (scale <= 1) {
                    iframe.contentWindow.document.body.style.transform = `scale(${scale})`;
                    iframe.parentElement.style.height = getParentHeight(iframeHeight * scale);
                  }
              });

              parentRo.observe(iframe.parentNode);

              let hasInvisibleClass = true;

              const iframeRo = new ResizeObserver(() => {
                  const height = iframe.contentWindow.document.body.clientHeight;

                  iframe.parentElement.style.height = `${height}px`;

                  if (hasInvisibleClass) {
                    iframe.parentElement.classList.remove('invisible');
                    hasInvisibleClass = false;
                  }
              });

              iframeRo.observe(iframe.contentWindow.document.body);
            }
            (this)
          )" %>
          </div>
      <% end %>

      <% if @message.form && @message.form.nested_message_objects.present? %>
        <div class="flex flex-col justify-stretch items-stretch divide-y relative px-4 bg-white border border-gray-200 w-full">
          <% @message.form.nested_message_objects.each do |message_attachment| %>
            <!-- TODO lepsia podmienka (ma sa zobrazit vsetko okrem formulara) -->
            <% unless message_attachment.xml? %>
              <div class="flex justify-between items-center p-2 overflow-clip">
                <%= link_to message_message_object_nested_message_object_path(@message, @message.form, message_attachment), data: { turbo_frame: "_top" }, class: "flex justify-start items-center gap-4 overflow-clip" do %>
                  <div class="flex flex-col justify-start items-start overflow-clip">
                    <div class="flex justify-start items-start gap-4 w-full">
                      <span class="truncate text-base font-semibold text-left text-gray-900"><%= MessageObjectHelper.displayable_name(message_attachment) %></span>
                    </div>
                  </div>
                <% end %>
                <div class="flex justify-end items-center gap-4">
                  <%= link_to message_message_object_nested_message_object_path(@message, @message.form, message_attachment), data: { turbo_frame: "_top" }, class: "flex justify-end items-center md:px-3.5 md:py-2.5 md:rounded-md md:bg-white md:border md:border-gray-300 hover:bg-gray-100" do %>
                    <%= render Icons::ArrowDownTrayComponent.new(css_classes: "w-5 h-5") %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>

    <% if @message.attachments.present? %>
      <div class="flex justify-start items-center gap-2 px-6 py-4 bg-white border-t-0 border-r-0 border-b border-l-0 border-gray-200">
        <div>
          <%= render Common::IconComponent.new("paper_clip", classes: "w-6 h-6 text-gray-400") %>
        </div>
        <p class="grow text-base text-left text-gray-900">
          Správa obsahuje <span class="font-semibold"><%= t('message_object', count: @message.attachments.length, locale: :sk) %></span>
        </p>
      </div>

      <div class="flex flex-col justify-stretch items-stretch divide-y px-4 bg-white border-t-0 border-r-0 border-b border-l-0 border-gray-200">
        <%= render MessageAttachmentComponent.with_collection(@message.attachments) %>
      </div>
    <% end %>

    <% if @mode == :thread_view %>
      <% if @message.can_be_authorized? %>
        <%= form_with(url: authorize_delivery_notification_message_path(@message), method: :post, local: true, class: 'flex p-6 border-b border-gray-200') do |form| %>
          <%= form.submit "Prevziať správu", data: { turbo_frame: "_top", turbo_confirm: "Naozaj chcete prevziať správu?" }, class: "flex-grow-0 flex-shrink-0 px-3.5 py-2.5 rounded-md bg-blue-600 text-base font-medium text-left text-white" %>
        <% end %>
      <% elsif @message.replyable_in_thread? %>
        <%= content_tag(:div, { "data-controller": "message-drafts" }) do %>
          <%= form_with(url: reply_message_path(@message), method: :post, local: true, class: 'flex justify-strech items-start self-stretch flex-grow-0 flex-shrink-0 gap-2 p-6 border-t-0 border-r-0 border-b border-l-0 border-gray-200') do |form| %>
            <%= form.hidden_field :original_message_id, value: @message.id %>
            <%= form.submit "Odpovedať", data: { turbo_frame: "_top" }, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3.5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
