<%= tag.turbo_frame id: dom_id(@message), class: "draft flex flex-col justify-stretch items-stretch rounded-md bg-white border border-gray-200" do %>
  <div class="flex flex-col justify-stretch items-stretch">
    <div class="flex flex-col justify-stretch items-stretch rounded-md bg-white border border-gray-200">

      <%= render MessageDraftBodyComponent.new(message: @message, is_last: @is_last) %>

      <%= render MessageDraftAttachmentsListComponent.new(message: @message) %>

      <% if @message.not_yet_submitted? %>
        <div class="flex justify-between w-full">
          <div class="gap-2 p-6 border-t-0 border-r-0 border-b border-l-0 border-gray-200">
            <div id="<%= dom_id(@message, :submission) %>" is="turbo-frame" class="flex gap-2">
              <% if @message.not_yet_submitted? %>
                <%= form_with(url: submit_message_draft_path(@message), method: :post, data: { turbo_frame: "_top" }, local: true) do |form| %>
                  <%= form.submit "Odoslať", class: "flex justify-strech items-start self-stretch flex-grow-0 flex-shrink-0 gap-2 p-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3.5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
                <% end %>
              <% end %>

              <%= render MessageDraftSigningMultiButtonComponent.new(message: @message, user_is_signer: @user_is_signer) %>
            </div>
          </div>
          <div class="gap-2 p-6 border-t-0 border-r-0 border-b border-l-0 border-gray-200">
            <%= button_to message_draft_path(@message), method: :delete, class: "flex justify-strech items-start self-stretch flex-grow-0 flex-shrink-0 gap-2 p-6 rounded-lg border border-gray-300 px-3.5 py-2.5 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 rounded-lg", data: { turbo_frame: "_top" }, title: "Zahodiť draft" do %>
              <%= render Icons::TrashComponent.new(css_classes: "w-5 h-5 text-red-600") %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
