<div id="<%= dom_id(@message, :body) %>" is="turbo-frame" class="w-full">
  <div class="flex flex-col justify-stretch items-stretch gap-4 px-6 pt-6 pb-4 border-t-0 border-r-0 border-b border-l-0 border-gray-200">
    <div class="flex justify-between items-start gap-4">
      <div class="flex flex-col justify-stretch items-start gap-2">
        <div class="flex justify-stretch items-start relative gap-2">
          <p class="w-[100px] text-base text-left text-gray-900">Odosielateľ:</p>
          <p class="text-base font-semibold text-left text-gray-900"><%= @message.sender_name || "Neznámy" %></p>
        </div>
        <div class="flex justify-stretch items-start relative gap-2">
          <p class="w-[100px] text-base text-left text-gray-900">Adresát:</p>
          <p class="text-base font-semibold text-left text-gray-900"><%= @message.recipient_name || "Neznámy" %></p>
        </div>
        <% unless @message.not_yet_submitted? %>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative overflow-hidden gap-1.5 px-1.5 py-0.5 rounded-md bg-purple-50 border border-purple-300">
            <% if @message.being_submitted? %>
              <p class="flex-grow-0 flex-shrink-0 text-sm text-left text-purple-600">Správa sa odosiela</p>
            <% elsif @message.submitted? %>
              <p class="flex-grow-0 flex-shrink-0 text-sm text-left text-purple-600">Správa je odoslaná</p>
            <% end %>
          </div>
        <% end %>
      </div>

      <%= render MessageOptionsComponent.new(message: @message) %>
    </div>
  </div>

  <div class="flex flex-col justify-stretch items-start relative gap-4 p-6 border-t-0 border-r-0 border-b border-l-0 border-gray-200">
    <% if @message.custom_visualization? %>
      <%= render MessageTemplateComponent.new(message: @message, is_last: @is_last) %>
    <% else %>
      <div class="w-full">
        <%= tag.iframe class: "relative border-none overflow-hidden h-full w-full", srcdoc: @message.html_visualization, onload: "(
            function(iframe) {
              iframe.contentWindow.document.body.style['height'] = 'unset';
              iframe.contentWindow.document.body.style['min-height'] = 'unset';

              iframe.parentElement.style.height = iframe.contentWindow.document.body.scrollHeight + 20 + 'px';
            }
            (this)
          )" %>
      </div>
    <% end %>

    <% if @message.not_yet_submitted? && @message.form&.signable? %>
      <div class="gap-2 p-2 border-t-0 border-r-0 border-b-0 border-l-0 border-gray-200">
        <%= content_tag(:div,
         {
           "data-controller": "autogram",
           "data-autogram-object-id": @message.form.id,
           "data-autogram-message-id": @message.id,
           "data-autogram-object-path": message_message_object_path(@message.id, @message.form.id),
           "data-autogram-authenticity-token": form_authenticity_token
         }
        ) do %>
          <button data-action="click->autogram#signSingleFile" class="flex justify-strech items-start self-stretch flex-grow-0 flex-shrink-0 gap-2 p-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3.5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Podpísať
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
