<div id="messages" class="flex flex-col justify-stretch items-stretch overflow-x-hidden" data-test="thread-detail">
  <%= render MessageThreadHeaderComponent.new(@message_thread, @thread_tags) %>
  <%= render MessageThreadNoteComponent.new(@message_thread.message_thread_note) %>
  <div class="flex flex-col justify-stretch items-stretch gap-2 pt-4 pb-16 sm:px-4" data-test="messages">
    <%= render Common::FlashComponent.new %>
    <% @thread_messages.each do |message| %>
      <% if message.type == 'MessageDraft' %>
        <%# TODO find a better way for handling focus than `message.id == @thread_last_message_draft_id` %>
        <%= render MessageDraftComponent.new(message: message, signable: Current.user.signer?, is_last: message.id == @thread_last_message_draft_id) %>
      <% elsif message.collapsed? %>
        <%= render CollapsedMessageComponent.new(message: message) %>
      <% else %>
        <%= render MessageComponent.new(message: message, mode: :thread_view) %>
      <% end %>
    <% end %>
    <div id="new_drafts">
      <div id="new_message_placeholder" is="turbo-frame"></div>
    </div>
  </div>
</div>
