<div class="flex justify-between items-center p-2 overflow-x-clip">
  <%= link_to message_message_object_path(@message_attachment.message_id, @message_attachment), data: { turbo_frame: "_top" }, class: "flex justify-start items-center gap-4 overflow-x-clip" do %>
    <div class="flex justify-stretch items-center gap-4">
      <% if @message_attachment.nested_message_objects.present? %>
        <!--        TODO najst inu ikonku-->
        <%= render Icons::DocumentTextComponent.gray_big %>
      <% else %>
        <%= render Icons::DocumentTextComponent.gray_big %>
      <% end %>
    </div>
    <div class="flex flex-col justify-start items-start overflow-x-clip gap-1">
      <div class="flex justify-start items-center gap-4 w-full">
        <span class="truncate text-base font-semibold text-left text-gray-900">
          <%= MessageObjectHelper.displayable_name(@message_attachment) %>
        </span>
        <div class="flex flex-wrap gap-1">
          <% SigningTagsHelper.sort_tags(@message_attachment.tags).each do |tag| %>
            <%= render Common::TagComponent.new(tag) %>
          <% end %>
        </div>

        <% if @message_attachment.is_signed? %>
          <%= render Common::BadgeComponent.new("Podpísané", "hidden md:flex") %>
        <% end %>
        <% if @message_attachment.message.thread.archived? %>
          <%= render ArchivedObjectTagComponent.new(@message_attachment.message_object_datum.message_object.archived_object, "hidden md:flex") %>
        <% end %>
      </div>
      <% if @message_attachment.is_signed? %>
        <%= render Common::BadgeComponent.new("Podpísané", "md:hidden") %>
      <% end %>
      <% if @message_attachment.message.thread.archived? %>
        <%= render ArchivedObjectTagComponent.new(@message_attachment.message_object_datum.message_object.archived_object, "md:hidden") %>
      <% end %>
    </div>
  <% end %>
  <%= render MessageAttachmentMenuComponent.new(@message_attachment) %>
</div>
<% if @message_attachment.nested_message_objects.present? %>
  <div class="flex-col pl-12 divide-y">
    <%=
      render NestedMessageAttachmentComponent.with_collection(@message_attachment.nested_message_objects) %>
  </div>
<% end %>
