<% if @message.form.present? %>
  <%= render Common::OptionsComponent.new(id: "message-options") do |options| %>
    <% options.with_menu_content do %>
      <%= link_to download_message_message_object_path(@message, @message.form), data: { turbo_frame: '_top' }, class: 'whitespace-nowrap flex gap-3', role: 'menu-item', tabindex: -1 do %>
        <%= render Icons::ArrowDownTrayComponent.new(css_classes: "w-5 h-5") %>
        Stiahnuť správu
      <% end %>
      <% if @message.form.downloadable_archived_object? %>
        <%= link_to download_archived_message_message_object_path(@message, @message.form), class: "flex gap-3", role: "menuitem", tabindex: "-1", data: { turbo_frame: "_top" } do %>
          <%= render Icons::ArrowDownTrayComponent.new(css_classes: "h-5 w-5") %>
          Stiahnuť archivovanú správu
        <% end %>
      <% end %>
      <% if @message.replyable? %>
        <div data-controller="message-drafts">
          <%= button_to message_drafts_path, params: { original_message_id: @message.id }, method: :post, class: 'whitespace-nowrap flex gap-3', role: 'menu-item', tabindex: -1 do %>
            <%= render Icons::ArrowUturnLeftComponent.new(css_classes: "w-5 h-5") %>
            Odpovedať
          <% end %>
        </div>
      <% end %>
      <% if @mode == :thread_view && @message.collapsible? %>
        <% if @message.collapsed %>
          <%= button_to message_path(@message), params: { collapsed: false }, method: :patch, class: 'whitespace-nowrap flex gap-3', role: 'menu-item', tabindex: -1 do %>
              <%= render Icons::ChevronDownComponent.new(css_classes: "w-5 h-5") %>
              Vždy zobrazovať
          <% end %>
        <% else %>
          <%= button_to message_path(@message), params: { collapsed: true }, method: :patch, class: 'whitespace-nowrap flex gap-3', role: 'menu-item', tabindex: -1 do %>
            <%= render Icons::ChevronUpComponent.new(css_classes: "w-5 h-5") %>
            Zbaliť a už nerozbaľovať
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
