<div class="flex justify-between items-center p-2 overflow-clip">
  <%= link_to message_message_object_path(@message_attachment.message, @message_attachment), data: { turbo_frame: '_top' }, class:"flex justify-start items-center gap-4 overflow-clip" do %>
    <div class="flex justify-stretch items-center gap-4">
      <% if @message_attachment.nested_message_objects.present? %>
        <!--        TODO najst inu ikonku-->
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="  w-8 h-8 " preserveAspectRatio="xMidYMid meet">
          <path d="M12.0003 16H20.0003M12.0003 21.3333H20.0003M22.667 28H9.33366C8.62641 28 7.94814 27.719 7.44804 27.219C6.94794 26.7189 6.66699 26.0406 6.66699 25.3333V6.66667C6.66699 5.95942 6.94794 5.28115 7.44804 4.78105C7.94814 4.28095 8.62641 4 9.33366 4H16.7817C17.1353 4.00008 17.4743 4.1406 17.7243 4.39067L24.943 11.6093C25.1931 11.8593 25.3336 12.1984 25.3337 12.552V25.3333C25.3337 26.0406 25.0527 26.7189 24.5526 27.219C24.0525 27.719 23.3742 28 22.667 28Z" stroke="#9CA3AF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      <% else %>
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="  w-8 h-8 " preserveAspectRatio="xMidYMid meet">
          <path d="M12.0003 16H20.0003M12.0003 21.3333H20.0003M22.667 28H9.33366C8.62641 28 7.94814 27.719 7.44804 27.219C6.94794 26.7189 6.66699 26.0406 6.66699 25.3333V6.66667C6.66699 5.95942 6.94794 5.28115 7.44804 4.78105C7.94814 4.28095 8.62641 4 9.33366 4H16.7817C17.1353 4.00008 17.4743 4.1406 17.7243 4.39067L24.943 11.6093C25.1931 11.8593 25.3336 12.1984 25.3337 12.552V25.3333C25.3337 26.0406 25.0527 26.7189 24.5526 27.219C24.0525 27.719 23.3742 28 22.667 28Z" stroke="#9CA3AF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      <% end %>
    </div>
    <div class="flex flex-col justify-start items-start overflow-clip">
      <div class="flex justify-start items-start gap-4 w-full">
        <p class="truncate text-base font-semibold text-left text-gray-900"><%= MessageObjectHelper.displayable_name(@message_attachment) %></p>
        <% if @message_attachment.is_signed? %>
          <div class="flex justify-center items-center gap-1.5 px-2 py-1 rounded-md bg-blue-50 border border-blue-300">
            <p class="text-sm text-left text-blue-600">Podpísané</p>
          </div>
        <% end %>
      </div>
      <p class="text-sm text-left text-gray-900"><%= "#{number_to_human_size(@message_attachment.content.size)}, #{@message_attachment.object_type}" %> </p>
    </div>
  <% end %>
  <div class="flex justify-end items-center gap-4">
    <% if @message_attachment.signable? %>
      <%= content_tag(:div,
        {
          "data-controller": "autogram",
          "data-autogram-object-id": @message_attachment.id,
          "data-autogram-message-id": @message_attachment.message_id,
          "data-autogram-object-path": message_message_object_path(@message_attachment.message_id, @message_attachment.id),
          "data-autogram-authenticity-token": form_authenticity_token,
        }
      ) do %>
        <button data-action="click->autogram#signSingleFile" class="flex justify-end items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-2.5 px-3.5 py-2.5 rounded-md bg-white border border-gray-300">
          Podpísať
        </button>
      <% end %>
    <% end %>
    <%= link_to download_message_message_object_path(@message_attachment.message, @message_attachment), data: { turbo_frame: '_top' } do %>
      <div class="flex justify-end items-center gap-2.5 px-3.5 py-2.5 rounded-md bg-white border border-gray-300">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="  w-5 h-5 " preserveAspectRatio="xMidYMid meet">
          <path d="M6.64661 10.3535L9.6465 13.3534C9.64652 13.3534 9.64654 13.3534 9.64655 13.3534C9.74031 13.4471 9.86744 13.4998 10 13.4998C10.1326 13.4998 10.2597 13.4471 10.3534 13.3534C10.3535 13.3534 10.3535 13.3534 10.3535 13.3534L13.3534 10.3534L13.3596 10.3473L13.3596 10.3474C13.4074 10.3012 13.4455 10.2461 13.4717 10.1851C13.4979 10.1241 13.5117 10.0584 13.5123 9.99206C13.5128 9.92567 13.5002 9.85983 13.4751 9.79838C13.4499 9.73693 13.4128 9.68111 13.3658 9.63416C13.3189 9.58721 13.2631 9.55009 13.2016 9.52495C13.1402 9.4998 13.0743 9.48715 13.0079 9.48773C12.9416 9.48831 12.8759 9.5021 12.8149 9.5283C12.7539 9.55451 12.6988 9.5926 12.6526 9.64036L12.6466 9.64661L12.6466 9.64655L11.3536 10.9396L10.5 11.7931V10.586V3C10.5 2.86739 10.4473 2.74021 10.3536 2.64645C10.2598 2.55268 10.1326 2.5 10 2.5C9.86739 2.5 9.74021 2.55268 9.64645 2.64645C9.55268 2.74021 9.5 2.86739 9.5 3V10.586V11.7931L8.64645 10.9396L7.3535 9.64661C7.35348 9.64659 7.35346 9.64657 7.35345 9.64655C7.25969 9.55285 7.13256 9.50021 7 9.50021C6.86747 9.50021 6.74036 9.55283 6.64661 9.6465C6.64657 9.64654 6.64654 9.64657 6.6465 9.64661M6.64661 10.3535L6.293 10.707C6.10553 10.5195 6.00021 10.2652 6.00021 10C6.00021 9.73484 6.10553 9.48053 6.293 9.293L6.6465 9.64661M6.64661 10.3535C6.64659 10.3535 6.64657 10.3535 6.64655 10.3534M6.64661 10.3535L6.64655 10.3534M6.6465 9.64661C6.55283 9.74036 6.50021 9.86747 6.50021 10C6.50021 10.1326 6.55285 10.2597 6.64655 10.3534M6.6465 9.64661L6.64655 10.3534M3.5 17C3.5 16.8674 3.55268 16.7402 3.64645 16.6464C3.74021 16.5527 3.86739 16.5 4 16.5H16C16.1326 16.5 16.2598 16.5527 16.3536 16.6464C16.4473 16.7402 16.5 16.8674 16.5 17C16.5 17.1326 16.4473 17.2598 16.3536 17.3536C16.2598 17.4473 16.1326 17.5 16 17.5H4C3.86739 17.5 3.74021 17.4473 3.64645 17.3536C3.55268 17.2598 3.5 17.1326 3.5 17Z" fill="#111827" stroke="#111827"></path>
        </svg>
      </div>
    <% end %>
    <% if @message_attachment.destroyable? %>
      <%= button_to message_message_object_path(@message_attachment.message, @message_attachment), method: :delete do %>
        <div class="flex justify-end items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-2.5 px-3.5 py-2.5 rounded-md bg-white border border-gray-300">
          <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" fill="red"></path> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" fill="red"></path>
          </svg>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% if @message_attachment.nested_message_objects.any? %>
  <div class="flex-col pl-12 p-2 divide_y">
    <%= render NestedMessageAttachmentComponent.with_collection(@message_attachment.nested_message_objects) %>
  </div>
<% end %>
