<%= render Common::ModalComponent.new do |modal| %>
  <% modal.with_header do %>
    Zmeniť názov vlákna
  <% end %>
  <% modal.with_modal_content do %>
    <%= form_with model:@message_thread, method: :patch, data: {turbo_frame: "_top"}, class: "flex flex-col justify-stretch w-full gap-2 mt-4" do |form| %>
      <div>
        <div class="relative mt-2 rounded-md shadow-sm">
          <%= form.text_area :title,
                             value: @message_thread.title,
                             placeholder: "Názov vlákna",
                             "aria-invalid": @message_thread.errors.any? ? "true" : "false",
                             "aria-describedby": "thread-title-error",
                             data: { controller: "autofocus" },
                             class: (@message_thread.errors[:title].any? ? "text-red-900 ring-red-300 placeholder:text-red-300 focus:ring-red-500" : "text-gray-400 border-gray-400") + " block w-full rounded-md border-0 py-1.5 pr-10 ring-1 ring-inset focus:ring-2 focus:ring-inset text-base text-left grow bg-white"
          %>
          <% if @message_thread.errors[:title].any? %>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
              <svg class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
              </svg>
            </div>
          <% end %>
        </div>
        <% if @message_thread.errors[:title].any? %>
          <% @message_thread.errors.full_messages.each do |message| %>
            <p class="mt-2 text-sm text-red-600" id="thread-title-error"><%= message %></p>
          <% end %>
        <% end %>
      </div>
      <%= render Common::ModalActionsComponent.new do |actions| %>
        <% actions.with_submit_button do %>
          <%= button_tag type: 'submit', class: 'flex justify-center items-center px-2.5 py-1.5 rounded-md bg-blue-600 text-sm font-medium text-white'  do %>
            Zmeniť názov
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
