<div class="flex justify-stretch items-center gap-4 p-4 border-t-0 border-r-0 border-b border-l-0 border-gray-200">
  <div class="flex justify-stretch items-center   gap-4 pt-1 pb-[30px] rounded-full">
    <%= check_box_tag('message_thread_ids[]', @message_thread.id) %>
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" style=<%= "visibility:hidden;" if @message_thread.read? %>><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"/></svg>
      <div class="flex flex-col justify-start items-start   pr-[7px]">
      <div class="flex justify-center items-center     gap-1.5 px-2 py-1 rounded-md bg-yellow-50 border border-yellow-300">
        <p class="  text-sm text-left text-yellow-700">GO</p>
      </div>
    </div>
  </div>
  <%= link_to message_path(@message_thread.last_message_id), class:"flex justify-stretch overflow-clip items-center grow gap-2" do %>
    <div class="flex flex-col truncate justify-start items-stretch grow gap-1">
      <p class="truncate text-lg text-gray-900" style=<%= "font-weight:600;" unless @message_thread.read? %>><%= @message_thread.title %></p>
      <p class="text-base text-left text-gray-500"><%= @message_thread.with_whom %></p>
    </div>
    <div class="flex flex-wrap truncate justify-start items-start gap-1">
      <% @message_thread.tags.each do |tag| %>
        <% if tag.visible %>
          <div class="flex truncate justify-center items-center gap-1.5 px-2 py-1 rounded-md bg-gray-50 border border-gray-300">
            <p class="truncate text-sm text-left text-gray-600"><%= tag.name %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="flex justify-end items-center gap-2">
      <p class="whitespace-nowrap text-lg text-center text-gray-900"><%= l @message_thread.last_message_delivered_at, :format => :long %></p>
    </div>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="  w-6 h-6 " preserveAspectRatio="xMidYMid meet">
      <path d="M9 5L16 12L9 19" stroke="#9CA3AF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  <% end %>
</div>
