<%= render Common::OptionsComponent.new(id: "message-attachment-menu") do |options| %>
  <% options.with_menu_content do %>
    <% if @message_attachment.signable? %>
      <div class="flex justify-start items-start px-4 py-3 rounded-lg hover:bg-gray-50">
        <%= content_tag(:div,
                        {
                          "data-controller": "autogram",
                          "data-autogram-object-id": @message_attachment.id,
                          "data-autogram-message-id": @message_attachment.message.id,
                          "data-autogram-object-path": message_message_object_path(@message_attachment.message, @message_attachment),
                          "data-autogram-authenticity-token": form_authenticity_token,
                        }
            ) do %>
          <button data-action="click->autogram#signSingleFile">
            <%= render Icons::ArchiveBoxComponent.new(css_classes: "h-5 w-5") %>
            Podpísať
          </button>
        <% end %>
      </div>
    <% end %>
    <%= link_to download_message_message_object_path(@message_attachment.message, @message_attachment), class: "flex gap-3", role: "menuitem", tabindex: "-1", data: { turbo_frame: "_top" } do %>
      <%= render Icons::ArrowDownTrayComponent.new(css_classes: "h-5 w-5") %>
      Stiahnuť
    <% end %>
    <% unless @message_attachment.message_object_datum.message_object.archived_object.content.nil? %>
      <%= link_to download_archived_message_message_object_path(@message_attachment.message, @message_attachment), class: "flex gap-3", role: "menuitem", tabindex: "-1", data: { turbo_frame: "_top" } do %>
        <%= render Icons::ArrowDownTrayComponent.new(css_classes: "h-5 w-5") %>
        Stiahnuť archivované
      <% end %>
    <% end %>
    <% if @message_attachment.destroyable? %>
      <%= link_to message_message_object_path(@message_attachment.message, @message_attachment), class: "flex gap-3", role: "menuitem", tabindex: "-1", method: :delete do %>
        <%= render Icons::ArchiveBoxComponent.new(css_classes: "h-5 w-5") %>
        Zmazať
      <% end %>
    <% end %>
  <% end %>
<% end %>
