<% if @user_is_signer %>
  <div class="inline-flex rounded-lg shadow-sm">
    <%= link_to "Podpísať",
                new_message_draft_document_selections_path(@message, next_step: "sign"),
                data: { turbo_frame: "modal" },
                class: "relative inline-flex items-center rounded-l-lg bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10" %>

    <div class="relative -ml-px block" data-controller="dropdown" data-action="click->dropdown#toggle click@window->dropdown#hide">
      <button type="button" data-dropdown-target="button" class="relative inline-flex items-center rounded-r-lg bg-white px-2 py-2.5 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10" id="option-menu-button" aria-expanded="true" aria-haspopup="true">
        <span class="sr-only">Ďalšie možnosti</span>
        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"/>
        </svg>
      </button>

      <div data-dropdown-target="menu"
           data-transition-enter="transition ease-out duration-100"
           data-transition-enter-from="transform opacity-0 scale-9"
           data-transition-enter-to="transform opacity-100 scale-100"
           data-transition-leave="transition ease-in duration-75"
           data-transition-leave-from="transform opacity-100 scale-100"
           data-transition-leave-to="transform opacity-0 scale-95"
           data-turbo-temporary-hide
           class="absolute hidden right-0 z-10 mt-2 w-52 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="option-menu-button" tabindex="-1">
        <div class="py-1 text-gray-700 text-sm [&>*]:px-4 [&>*]:py-2 [&>*:hover]:bg-gray-100" role="none">
          <%= link_to new_message_draft_document_selections_path(@message, next_step: "sign"),
                      data: { turbo_frame: "modal" },
                      class: "whitespace-nowrap flex gap-3",
                      role: "menu-item",
                      tabindex: -1 do %>
            <%= render Common::IconComponent.new("fingerprint", classes: "w-5 h-5 text-gray-400") %>
            Podpísať
          <% end %>

          <%= link_to new_message_draft_document_selections_path(@message),
                      data: { turbo_frame: "modal" },
                      class: "whitespace-nowrap flex gap-3",
                      role: "menu-item",
                      tabindex: -1 do %>
            <%= render Common::IconComponent.new("pencil", classes: "w-5 h-5 text-gray-400") %>
            Vyžiadať podpis
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= link_to "Vyžiadať podpis",
              new_message_draft_document_selections_path(@message),
              data: { turbo_frame: "modal" },
              class: "font-semibold rounded-lg text-sm px-3.5 py-2.5 bg-white text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
<% end %>
