<div class="flex flex-col justify-stretch items-end relative gap-1">
  <div class="flex flex-col justify-stretch items-end   gap-1 pb-1">
    <div data-controller="dropdown" data-action="click->dropdown#toggle click@window->dropdown#hide">
      <div id="thread-options-dropdown-button" class="relative inline-block">
        <div role="button" tabindex="0" data-dropdown-target="button" class="inline-block select-none">
          <div class="flex justify-center items-center relative gap-2.5 px-3.5 py-2.5 rounded-md bg-white">
            <%= render Icons::EllipsisVerticalComponent.new(css_classes: "w-6 h-6", stroke_width: 2) %>
          </div>
        </div>
        <div data-dropdown-target="menu"
             data-transition-enter="transition ease-out duration-100"
             data-transition-enter-from="transform opacity-0 scale-9"
             data-transition-enter-to="transform opacity-100 scale-100"
             data-transition-leave="transition ease-in duration-75"
             data-transition-leave-from="transform opacity-100 scale-100"
             data-transition-leave-to="transform opacity-0 scale-95"
             class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-200 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
             role="menu"
             aria-orientation="vertical"
             aria-labelledby="menu-button"
             tabindex="-1">
          <div class="py-1" role="none">
            <%= link_to rename_message_thread_path(@message_thread), method: :get, data: { turbo_frame: "modal" }, id: "menu-item-0", class: "text-gray-700 group flex items-center px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900", role: "menuitem", tabindex: "-1" do %>
              <%= render Icons::PencilComponent.new(css_classes: "mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500") %>
              Premenovať
            <% end %>
            <%= link_to edit_message_thread_tags_path(@message_thread), data: { turbo_frame: "modal" }, id: "menu-item-1", class: "text-gray-700 group flex items-center px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900", role: "menuitem", tabindex: "-1" do %>
              <%= render Icons::TagComponent.new(css_classes: "mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500") %>
              Upraviť štítky
            <% end %>
            <% if @message_thread.message_thread_note&.note.present? %>
              <%= link_to edit_message_thread_message_thread_note_path(@message_thread, @message_thread.message_thread_note), data: { turbo_frame: "thread-note" }, id: "menu-item-2", class: "text-gray-700 group flex items-center px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900", role: "menuitem", tabindex: "-1" do %>
                <%= render Icons::PencilSquareComponent.new(css_classes: "mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500") %>
                Upraviť poznámku
              <% end %>
            <% else %>
              <%= link_to new_message_thread_message_thread_note_path(@message_thread), data: { turbo_frame: "thread-note" }, id: "menu-item-2", class: "text-gray-700 group flex items-center px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900", role: "menuitem", tabindex: "-1" do %>
                <%= render Icons::PencilSquareComponent.new(css_classes: "mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500") %>
                Pridať poznámku
              <% end %>
            <% end %>
          </div>
          <div class="py-1" role="none">
            <%= link_to history_message_thread_path(@message_thread), id: "menu-item-3", class: "text-gray-700 group flex items-center px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900", role: "menuitem", tabindex: "-1" do %>
              <%= render Icons::RectangleStackComponent.new(css_classes: "mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500") %>
              História komunikácie
            <% end %>
            <% if Current.user.admin? %>
              <%= link_to message_thread_audit_logs_path(@message_thread), id: "menu-item-4", class: "text-gray-700 group flex items-center px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900", role: "menuitem", tabindex: "-1" do %>
                <%= render Icons::EyeComponent.new(css_classes: "mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500") %>
                Auditné záznamy
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
