<div class="flex justify-between items-center p-2 overflow-x-clip">
  <%= link_to message_message_object_path(@message_attachment.message_id, @message_attachment), data: { turbo_frame: "_top" }, class: "flex justify-start items-center gap-4 overflow-x-clip" do %>
    <div class="flex justify-stretch items-center gap-4">
      <% if @message_attachment.nested_message_objects.present? %>
        <!--        TODO najst inu ikonku-->
        <%= render Icons::DocumentTextComponent.gray_big %>
      <% else %>
        <%= render Icons::DocumentTextComponent.gray_big %>
      <% end %>
    </div>
    <div class="flex flex-col justify-start items-start overflow-x-clip gap-1">
      <div class="flex justify-start items-center gap-4 w-full">
        <span class="truncate text-base font-semibold text-left text-gray-900">
          <%= MessageObjectHelper.displayable_name(@message_attachment) %>
        </span>
        <div class="flex flex-wrap gap-1">
          <% SigningTagsHelper.sort_tags(@message_attachment.tags).each do |tag| %>
            <%= render Common::TagComponent.new(tag) %>
          <% end %>

          <% if !@is_draft_view && @message_attachment.message.thread.archived? %>
            <%= render ArchivedObjectTagComponent.new(@message_attachment.message_object_datum.message_object.archived_object) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @is_draft_view %>
    <div class="hidden md:flex justify-end items-center gap-4">
      <%= link_to download_message_message_object_path(@message_attachment.message, @message_attachment), data: { turbo_frame: "_top" }, class: "flex justify-end items-center gap-2.5 px-3.5 py-2.5 rounded-md bg-white border border-gray-300 hover:bg-gray-100", "aria-label": "Stiahnúť" do %>
        <%= render Icons::ArrowDownTrayComponent.new(css_classes: "w-5 h-5") %>
      <% end %>
      <% if @message_attachment.destroyable? %>
        <%= button_to message_message_object_path(@message_attachment.message, @message_attachment), method: :delete, class: "flex justify-end items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-2.5 px-3.5 py-2.5 rounded-md bg-white border border-gray-300 hover:bg-gray-100", "aria-label": "Zmazať" do %>
          <%= render Icons::TrashComponent.new(css_classes: "w-5 h-5 text-red-600") %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <%= render MessageAttachmentMenuComponent.new(@message_attachment) %>
  <% end %>
</div>
<% if @message_attachment.nested_message_objects.present? %>
  <div class="flex-col pl-12 divide-y">
    <%=
      render NestedMessageAttachmentComponent.with_collection(@message_attachment.nested_message_objects) %>
  </div>
<% end %>
