<%= render Common::ModalComponent.new do |modal| %>
  <% modal.with_header do %>
    Správu nie je možné upravovať
  <% end %>
  <% modal.with_modal_content do %>
    <div class="mt-2 pb-4">
      <p class="text-sm text-gray-500">
        <% if @message.reason_for_readonly == :form_signed %>
          <%= t "message_draft.form_signed" %>
        <% elsif @message.reason_for_readonly == :submitted %>
          <%= t "message_draft.submitted" %>
        <% else %>
          <%= t "message_draft.read_only_agenda" %>
        <% end %>
      </p>
    </div>
    <%= render Common::ModalActionsComponent.new do |actions| %>
      <% if @message.reason_for_readonly == :form_signed %>
        <% actions.with_submit_button do %>
          <%= button_to unlock_message_draft_path(@message), class: "inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto", data: { turbo_frame: "_top" } do %>
            Odstrániť podpisy
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
