<div class="w-full p-4 flex-col justify-start items-start gap-4 inline-flex">
  <div class="self-stretch bg-white rounded-md border border-gray-200 flex-col justify-start items-start flex">
    <div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
      <div class="grow shrink basis-0 text-gray-900 text-xl font-semibold leading-[35px]">Štítky</div>
      <%= link_to new_admin_tenant_tag_path, class: "px-3.5 py-2.5 bg-blue-600 rounded-md justify-center items-center gap-2.5 flex" do %>
        <p class="text-white text-base font-medium leading-normal">Vytvoriť štítok</p>
      <% end %>
    </div>
    <div class="self-stretch flex-col justify-start items-start flex">
      <%= render Admin::Tags::TagsListRowComponent.with_collection(@internal_tags) %>
    </div>
  </div>
  <%= render Admin::Tags::ExternalTagsComponent.new(@external_tags) %>
  <div class="self-stretch bg-white rounded-md border border-gray-200 flex-col justify-start items-start flex">
    <div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
      <div class="w-8 h-8 relative">
        <%= render Icons::InfoComponent.big_gray %>
      </div>
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex">
        <div class="text-center text-gray-900 text-lg font-medium leading-loose">Nataviť prístup na základe štítkov</div>
        <div class="text-center text-gray-500 text-base font-normal leading-normal">Jednotlivý používatelia alebo skupiny používateľov môžu mať rozdielny prístup k správam</div>
      </div>
      <%= link_to admin_tenant_tag_groups_path, class: "px-3.5 py-2.5 bg-white rounded-md border border-gray-300 justify-center items-center gap-2.5 flex" do %>
        <p class="text-gray-900 text-base font-medium leading-normal">Nastaviť prístup</p>
      <% end %>
    </div>
    <div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
      <div class="w-8 h-8 relative">
        <%= render Icons::InfoComponent.big_gray %>
      </div>
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex">
        <div class="text-center text-gray-900 text-lg font-medium leading-loose">Zautomatizovať pridávanie štítkov</div>
        <div class="text-center text-gray-500 text-base font-normal leading-normal">V prípade jasne zadaných pravidiel je možné automaticky k novým správam prideliť štítky</div>
      </div>
      <%= link_to settings_automation_rules_path, class: "px-3.5 py-2.5 bg-white rounded-md border border-gray-300 justify-center items-center gap-2.5 flex" do %>
        <p class="text-gray-900 text-base font-medium leading-normal">Nastaviť pravidlá</p>
      <% end %>
    </div>
  </div>
</div>
