<%= render Common::ModalComponent.new do |component| %>
  <% component.with_button do %>
    <button type="button" class="flex items-center gap-2" <%= "disabled=true" if @disabled %> data-action="click->modal#open">
      <div class="flex justify-start items-center relative gap-3 py-1.5 lg:pl-8 rounded-md bg-white">
        <% if Current.box %>
          <div class="hidden lg:flex">
            <%= render Icons::BoxesComponent.new %>
          </div>
          <%= render Common::BoxLabelComponent.new(Current.box) %>
          <p class="hidden lg:flex text-base text-left text-gray-900"><%= Current.box.name %></p>
        <% else %>
          <%= render Icons::BoxesComponent.new %>
          <p class="hidden lg:flex text-base text-left text-gray-900">Všetky schránky</p>
        <% end %>
      </div>
    </button>
  <% end %>
  <% component.with_modal_content do %>
    <%= tag.turbo_frame id: 'box-selector-popup', loading: :lazy, src: get_selector_boxes_path %>
    <div class="mt-5 sm:mt-4 sm:flex justify-end">
      <%= render Common::ModalActionsComponent.new %>
    </div>
  <% end %>
<% end %>
