<% if @filters.present? %>
  <div class="w-full flex flex-col justify-start items-start gap-2" data-test="filters">
    <% if @label.present? %>
      <div class="flex justify-start items-start px-4 py-2">
        <p class="text-sm text-center text-gray-400"><%= @label %></p>
      </div>
    <% end %>
    <% @filters.each do |filter| %>
      <%= render TW::SidebarMenuItemComponent.new(
        name: filter.name,
        url: filtered_message_threads_path(filter:),
        icon: icon_for(filter),
        variant: :light,
      ) do |menu_item| %>
        <% menu_item.with_accessory do %>
          <% if filter.is_pinned %>
            <%= link_to unpin_filter_path(filter), class: "invisible group-hover:visible fill-yellow-400 group-one p-4", data: { turbo_method: :patch } do %>
              <%= render Icons::StarComponent.new(css_classes: 'hidden group-one-hover:inline w-6 h-6', variant: :light) %>
              <%= render Icons::StarComponent.new(css_classes: 'inline group-one-hover:hidden w-6 h-6', variant: :solid) %>
            <% end %>
          <% else %>
            <%= link_to pin_filter_path(filter), class: "invisible group-hover:visible fill-yellow-400 group-one p-4", data: { turbo_method: :patch } do %>
              <%= render Icons::StarComponent.new(css_classes: 'inline group-one-hover:hidden w-6 h-6', variant: :light) %>
              <%= render Icons::StarComponent.new(css_classes: 'hidden group-one-hover:inline w-6 h-6', variant: :solid) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>