<div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
  <div class="relative inline-flex items-center justify-center w-16 h-16 overflow-hidden bg-blue-600 rounded-full">
    <span class="text-white text-2xl font-normal"><%= @group.name[0] %></span>
  </div>
  <div class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex">
    <div class="text-center text-gray-900 text-lg font-medium leading-loose">
      <% if @group.renamable? %>
        <%= render Admin::Groups::GroupRenameComponent.new(@group) %>
      <% else %>
        <%= @group.name %>
      <% end %>
    </div>
    <div class="text-center text-gray-500 text-base font-normal leading-normal">
      <%= link_to (@group.editable? ? edit_admin_tenant_group_path(@group.tenant, @group) : admin_tenant_group_path(@group.tenant, @group)), data: { turbo_frame: "modal" } do %>
        <%= t("user", count: @group.users.count) %>
      <% end %>
    </div>
  </div>
  <div class="justify-start items-start gap-2 flex">
    <% if @group.editable? %>
      <%= link_to edit_members_admin_tenant_group_path(@group.tenant, @group), data: { turbo_frame: "modal" } do %>
        <%= render Common::EditButtonComponent.new %>
      <% end %>
      <% if @group.destroyable? %>
        <%= button_to admin_tenant_group_path(@group.tenant, @group), method: :delete, data: { turbo_confirm: "Naozaj chcete zmazať skupinu '#{@group.name}'?" } do %>
          <%= render Common::DeleteButtonComponent.new %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to show_members_admin_tenant_group_path(@group.tenant, @group), data: { turbo_frame: "modal" } do %>
        <%= render Common::ShowButtonComponent.new %>
      <% end %>
    <% end %>
  </div>
</div>
