<%= tag.turbo_frame id: "modal" do %>
  <div class="fixed inset-0 z-40 p-2" role="dialog" aria-modal="true">
    <div class="fixed inset-0 transition-opacity bg-gray-400 bg-opacity-75" aria-hidden="true"></div>
    <div class="relative flex items-center justify-center">
      <div class="flex flex-col justify-start items-start overflow-hidden rounded-lg bg-white border border-gray-300" style="box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);">
        <div class="flex justify-start items-center self-stretch flex-grow-0 flex-shrink-0 overflow-hidden gap-4 px-6 py-4 border-t-0 border-r-0 border-b border-l-0 border-gray-200">
          <div class="flex flex-col justify-start items-start flex-grow relative">
            <p class="self-stretch flex-grow-0 flex-shrink-0 text-xl font-semibold text-left text-gray-900">Zmena údajov o schránke</p>
            <p class="flex-grow-0 flex-shrink-0 text-xs text-left text-gray-500">Základné informácie o FS schránke</p>
          </div>
          <%= render Common::CloseButtonComponent.new(link_to: admin_tenant_boxes_path(Current.tenant)) %>
        </div>
        <%= form_with model: [:admin, Current.tenant, @box], scope: :fs_box, url: polymorphic_path([:admin, Current.tenant, :boxes, @box]) do |form| %>
          <div class="w-96">
            <div class="px-6 py-4">
              <%= form.label :name, "Názov schránky", class: "block" %>
              <div class="relative mt-2 rounded-md shadow-sm">
                <% color = @box.errors[:name].any? ? "red" : "gray" %>
                <%= form.text_field :name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-#{color}-300 placeholder:text-#{color}-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
              <% @box.errors[:name].each do |error| %>
                <p class="mt-2 text-sm text-red-600"><%= error %></p>
              <% end %>
            </div>
            <div class="px-6">
              <%= form.label :settings_dic, "DIČ", class: "leading-6" %>
              <div class="relative mt-2 rounded-md shadow-sm">
                <% color = @box.errors[:settings_dic].any? ? "red" : "gray" %>
                <%= form.text_field :settings_dic, placeholder: "1234567890", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-#{color}-300 placeholder:text-#{color}-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
              <% @box.errors[:settings_dic].each do |error| %>
                <p class="mt-2 text-sm text-red-600"><%= error %></p>
              <% end %>
            </div>
            <div class="px-6 py-4">
              <%= form.label :short_name, "Skrátený názov" %>
              <div class="relative mt-2 rounded-md shadow-sm">
                <% color = @box.errors[:short_name].any? ? "red" : "gray" %>
                <%= form.text_field :short_name, placeholder: "ABC", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-#{color}-300 placeholder:text-#{color}-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
              <% @box.errors[:short_name].each do |error| %>
                <p class="mt-2 text-sm text-red-600"><%= error %></p>
              <% end %>
            </div>
            <div class="px-6 py-4">
              <%= form.label :export_name, "Názov pre export" %>
              <div class="relative mt-2 rounded-md shadow-sm">
                <% color = @box.errors[:export_name].any? ? "red" : "gray" %>
                <%= form.text_field :export_name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-#{color}-300 placeholder:text-#{color}-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
              <% @box.errors[:export_name].each do |error| %>
                <p class="mt-2 text-sm text-red-600"><%= error %></p>
              <% end %>
            </div>
            <div class="px-6 py-4">
              <div class="flex flex-col justify-start items-start self-stretch flex-grow overflow-hidden gap-2 rounded-md">
                <%= form.label :syncable, "Synchronizovať schránku" %>
                <%= form.check_box :syncable, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
              </div>
            </div>
            <div class="px-6 py-4 border-t-0 border-r-0 border-b border-l-0 border-gray-200">
              <div class="flex flex-col justify-start items-start self-stretch flex-grow overflow-hidden gap-2 rounded-md">
                <%= form.label :color, "Farba štítka" %>
                <%= form.select :color, color_select_options, {}, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
          </div>
          <div class="flex justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2 p-6">
            <%= link_to admin_tenant_boxes_path(Current.tenant), class: "flex justify-center items-center flex-grow relative overflow-hidden gap-2.5 px-3.5 py-2.5 rounded-md bg-white border border-gray-300", data: { turbo_frame: "_top" } do %>
              <p class="flex-grow-0 flex-shrink-0 text-base font-medium text-left text-gray-900">Zahodiť</p>
            <% end %>
            <%= form.button class: "flex justify-center items-center flex-grow relative overflow-hidden gap-2.5 px-3.5 py-2.5 rounded-md bg-blue-600", data: { turbo_frame: "_top" } do %>
              <p class="flex-grow-0 flex-shrink-0 text-base font-medium text-left text-white">Uložiť</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
