  
<div id="<%= dom_id box %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= box.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">URI:</strong>
    <%= box.uri %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Tenant:</strong>
    <%= box.tenant_id %>
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this box", box, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this box', edit_admin_tenant_box_path(box), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
