<%= turbo_stream.update "recipients_list" do %>
  <% if @recipients_list && @recipients_list.count > 1 %>
    <div>
      <label for="recipient" class="block mb-2 text-base font-medium text-gray-900">Príjímateľ</label>
    </div>
    <%= button_to message_template_recipient_selector_path(@message_template), method: 'get', data: { turbo_frame: "modal" }, class: "text-gray-500 hover:text-gray-900 w-full" do %>
      <div id="recipient" class="text-sm rounded-lg block w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500">
        <p class="text-left"><%= params[:recipient_name].presence || 'Zvoľte prijímateľa' %></p>
      </div>
    <% end %>
  <% elsif @recipients_list.count == 1 %>
    <div>
      <label for="recipient" class="block mb-2 text-base font-medium text-gray-900">Komu</label>
    </div>
    <div id="recipient" class="text-sm rounded-lg block w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500">
      <p class="text-left"><%= @recipients_list.first[:name] %></p>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.update "selected_recipient" do %>
  <%= hidden_field_tag 'recipient_name', @recipients_list.first[:name] %>
  <%= hidden_field_tag 'recipient_uri', @recipients_list.first[:uri] %>
<% end %>
