<div class="w-full p-4 flex-col justify-start items-start gap-4 inline-flex">
  <div class="self-stretch bg-white rounded-md border border-gray-200 flex-col justify-start items-start flex">
    <div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
      <div class="grow shrink basis-0 text-gray-900 text-xl font-semibold leading-[35px]">ÚPVS prepojenia</div>
    </div>
    <div class="self-stretch flex-col justify-start items-start flex">
      <% @api_connections.select {|a| a.upvs_type?}.each do |api_connection| %>
        <div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
          <div class="relative inline-flex items-center justify-center w-16 h-16 overflow-hidden bg-blue-600 rounded-full">
            <span class="text-white text-2xl font-normal"><%= api_connection.type[0] %></span>
          </div>
          <div class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex">
            <div class="text-center text-gray-900 text-lg font-medium leading-loose">
                <%= api_connection.name %>
            </div>
          </div>
          <div class="justify-start items-start gap-2 flex">
            <% if api_connection.editable? %>
              <%= link_to (api_connection.editable? ? edit_polymorphic_path([:admin, api_connection.tenant, api_connection]) : polymorphic_path([:admin, api_connection.tenant, api_connection])), data: { turbo_frame: "modal" } do %>
                <%= render Common::EditButtonComponent.new %>
              <% end %>
              <% if api_connection.destroyable? %>
                <%= button_to (api_connection.editable? ? polymorphic_path([:admin, api_connection.tenant, api_connection]) : polymorphic_path([:admin, api_connection.tenant, api_connection])), method: :delete, data: { turbo_confirm: "Naozaj chcete zmazať skupinu '#{api_connection.name}'?" } do %>
                  <%= render Common::DeleteButtonComponent.new %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if Current.tenant.feature_enabled?(:fs_api) %>
    <div class="self-stretch bg-white rounded-md border border-gray-200 flex-col justify-start items-start flex">
      <div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
        <div class="grow shrink basis-0 text-gray-900 text-xl font-semibold leading-[35px]">FS prepojenia</div>
        <%= link_to new_admin_tenant_api_connections_fs_api_connection_path, data: { turbo_frame: "modal" }, class: "px-3.5 py-2.5 bg-blue-600 rounded-md justify-center items-center gap-2.5 flex" do %>
          <p class="text-white text-base font-medium leading-normal">Vytvoriť nové prepojenie s FS</p>
        <% end %>
      </div>
      <div class="self-stretch flex-col justify-start items-start flex">
        <% @api_connections.select {|a| a.fs_type?}.each do |api_connection| %>
          <div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
            <div class="relative inline-flex items-center justify-center w-16 h-16 overflow-hidden bg-blue-600 rounded-full">
              <span class="text-white text-2xl font-normal"><%= api_connection.type[0] %></span>
            </div>
            <div class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex">
              <div class="text-center text-gray-900 text-lg font-medium leading-loose">
                  <%= api_connection.name %>
              </div>
            </div>
            <div class="justify-start items-start gap-2 flex">
              <%= button_to boxify_admin_tenant_api_connections_fs_api_connection_path(api_connection.tenant, api_connection) do %>
                  <div class="px-3.5 py-2.5 bg-blue-600 rounded-md justify-center items-center gap-2.5 flex">
                    <p class="text-white text-base font-medium leading-normal">Automaticky vytvoriť schránky</p>
                  </div>
              <% end %>
              <% if api_connection.editable? %>
                  <%= link_to edit_polymorphic_path([:admin, api_connection.tenant, :api_connections, api_connection]), data: { turbo_frame: "modal" } do %>
                    <%= render Common::EditButtonComponent.new %>
                  <% end %>
                  <% if api_connection.destroyable? %>
                    <%= button_to admin_tenant_api_connection_path(api_connection.tenant, api_connection), method: :delete, data: { turbo_confirm: "Naozaj chcete zmazať API prepojenie '#{api_connection.name}'?" } do %>
                      <%= render Common::DeleteButtonComponent.new %>
                    <% end %>
                  <% end %>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
