<%= render Common::ModalComponent.new do |modal| %>
  <% modal.with_header do %>
    Úprava štítkov
  <% end %>
  <% modal.with_modal_content do %>
    <%= form_with url: prepare_message_thread_tags_assignment_path(@message_thread),
                  data: { controller: 'debounce', debounce_target: 'form' } do |form| %>
      <div class="flex flex-col items-start gap-4 mt-4">
        <div class="w-full">
          <%= tag.turbo_frame id: TagsAssignment::Component::SEARCH_FIELD_FRAME do %>
            <%= render TagsAssignment::SearchFieldComponent.new %>
          <% end %>
        </div>

        <div class="w-full mb-4">
          <% @init_tags_assignments.each do |tag_id, value| %>
            <%= hidden_field_tag "tags_assignments[init][#{tag_id}]", value %>
          <% end %>
          <%= tag.turbo_frame id: TagsAssignment::Component::LIST_FRAME do %>
            <%=
              render TagsAssignment::ListComponent.new(
                message_thread: @message_thread,
                all_tags: @all_tags,
                new_tags_assignments: @new_tags_assignments,
                filtered_tag_ids: @filtered_tag_ids,
                name_search_query: @name_search_query) %>
          <% end %>
        </div>
      </div>

      <%= tag.turbo_frame id: TagsAssignment::Component::DIFF_FRAME %>

      <%= tag.turbo_frame id: TagsAssignment::Component::ACTIONS_FRAME do %>
        <%= render Common::ModalActionsComponent.new %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
