<div class="flex flex-col gap-2 overflow-y-scroll border rounded border-gray-200 p-1" style="max-height: 40vh">
  <div>
    <%= submit_tag "1", name: "assignments_update", id: "assignments_update", class: "hidden" %>
    <% @tags_filter.all_tags.each do |tag| %>
      <div class="flex <%= "hidden" if @tags_filter.filtered_ids.exclude?(tag.id) %>">
        <div class="mr-3 ml-1 flex h-6 items-center">
          <%= hidden_field_tag "tags_assignments[new][#{tag.id}]", TagsChanges::REMOVE_SIGN, id: nil %>
          <%= check_box_tag "tags_assignments[new][#{tag.id}]", TagsChanges::ADD_SIGN, @new_tags_assignments[tag.id.to_s] == TagsChanges::ADD_SIGN, id: "new_tags_assignments_#{tag.id}", class: "h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600 cursor-pointer", onchange: "this.form.requestSubmit(document.getElementById('assignments_update'));" %>
        </div>
        <div class="min-w-0 flex text-sm leading-6">
          <%= label_tag "new_tags_assignments_#{tag.id}", tag.name, class: "select-none text-gray-900 cursor-pointer" %>
        </div>
      </div>
    <% end %>
    <%= render TagsAssignment::CreateTagComponent.new(tags_filter: @tags_filter, create_path: create_tag_message_thread_tags_path(@message_thread)) %>
  </div>
</div>
