<div class="flex flex-col gap-2 border-b border-gray-200 p-1 pb-4">
  <div>
    <%= submit_tag "1", name: "assignments_update", id: "assignments_update", class: "hidden" %>
    <% @tags_filter.all_tags.each do |tag| %>
      <div class="flex ml-1 gap-3 <%= "hidden" if @tags_filter.filtered_ids.exclude?(tag.id) %>">
        <div class="flex h-6 items-center">
          <%= hidden_field_tag "tags_assignments[new][#{tag.id}]", TagsChanges::REMOVE_SIGN, id: nil %>

          <% checkbox = TagsChanges::Checkbox.new(tag_assignments: @tags_assignments, tag_id: tag.id.to_s) %>
          <% if checkbox.indeterminate? %>
            <%= check_box_tag "tags_assignments[new][#{tag.id}]",
                              checkbox.value, checkbox.checked?,
                              data: { controller: "tri-state-checkbox", action: "click->tri-state-checkbox#nextState", "tri-state-checkbox-checked-value": TagsChanges::ADD_SIGN, "tri-state-checkbox-indeterminate-value": TagsChanges::KEEP_SIGN },
                              onchange: "this.form.requestSubmit(document.getElementById('assignments_update'));",
                              id: "new_tags_assignments_#{tag.id}",
                              class: "h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600 cursor-pointer" %>
          <% else %>
            <%= check_box_tag "tags_assignments[new][#{tag.id}]", checkbox.value, checkbox.checked?, id: "new_tags_assignments_#{tag.id}", class: "h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600 cursor-pointer", onchange: "this.form.requestSubmit(document.getElementById('assignments_update'));" %>
          <% end %>
        </div>
        <div class="min-w-0 flex text-sm leading-6">
          <%= label_tag "new_tags_assignments_#{tag.id}", tag.name, class: "select-none text-gray-900 cursor-pointer" %>
        </div>
      </div>
    <% end %>
    <% if @tags_filter.filter_query.present? %>
      <div class="flex <%= "border-t border-gray-200 mt-1.5 pt-1.5" if @tags_filter.any_filtered_results? %>">
        <div class="mr-3 ml-1 flex h-6 items-center">
          <%= check_box_tag "new_tag", @tags_filter.filter_query, false, class: "h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600 cursor-pointer", onchange: "this.form.requestSubmit(document.getElementById('create_tag')); this.disabled = true;" %>
        </div>
        <div class="min-w-0 flex text-sm leading-6">
          <%= label_tag "new_tag", class: "flex gap-2 select-none text-gray-900 cursor-pointer" do %>
            <%= @tags_filter.filter_query %>
            <span class="rounded-full px-2 py-0.5 ml-2 bg-gray-400 text-white">zaškrtnutím vytvoríte nový štítok</span>
          <% end %>
          <%= submit_tag "create_tag", id: "create_tag", formaction: @create_tag_path, formmethod: :post, class: "hidden" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
