<%= render Common::ModalComponent.new(closable: false) do |modal| %>
  <% modal.with_header do %>
    Prebieha podpisovanie
  <% end %>
  <% modal.with_modal_content do %>
    <%
      files_to_be_signed = @message_objects.map do |message_object|
        { path: message_message_object_path(message_object.message_id, message_object.id) }
      end

      signature_settings = @signature_settings.transform_keys { |key| key.to_s.camelize(:lower) }
    %>
    <div class="py-4">
      <%= content_tag(:div,
                      {
                        "data-controller": "autogram",
                        "data-autogram-files-to-be-signed": files_to_be_signed.to_json.html_safe,
                        "data-autogram-authenticity-token": form_authenticity_token,
                        "data-autogram-signature-settings": signature_settings.to_json.html_safe,
                      }
          ) do %>
        <div data-autogram-target="appNotRunning">
          <%= link_to "Autogram", "autogram://go", class: "hidden", data: { "autogram-target": "openAutogramApp" } %>
          <p class="pb-4">
            Spustite aplikáciu
            <%= link_to "Autogram", "https://sluzby.slovensko.digital/autogram/", target: "_blank", class: "underline font-bold hover:no-underline" %>
            a skúste znova
          </p>
          <div data-action="click->autogram#signAll" class="inline-flex w-full justify-center items-center px-3 py-2 rounded-md bg-blue-600 font-medium text-left text-sm text-white hover:cursor-pointer sm:w-auto">
            Skúsiť znova
          </div>
        </div>

        <div data-autogram-target="signingInProgress">
          <p class="pb-4">Prosím, nezatvárajte okno prehliadača.</p>
        </div>

        <%= button_to "Úspešne podpísané",
                      @after_singing_path,
                      method: :patch,
                      params: { result: "ok" },
                      data: { "autogram-target": "doneOk" },
                      class: "hidden" %>

        <%= button_to "Podpisovanie zlyhalo",
                      @after_singing_path,
                      method: :patch,
                      params: { result: "error" },
                      data: { "autogram-target": "doneError" },
                      class: "hidden" %>
      <% end %>
    </div>
  <% end %>
<% end %>
