<%= render Common::ModalComponent.new(closable: false) do |modal| %>
  <% modal.with_header do %>
    <%= t("signing.modal_header_signing") %>
  <% end %>
  <% modal.with_modal_content do %>
    <%
      files_to_be_signed = @message_objects.map do |message_object|
        { path: message_message_object_path(message_object.message_id, message_object.id) }
      end

      signature_settings = @signature_settings.transform_keys { |key| key.to_s.camelize(:lower) }
    %>
    <div class="py-4">
      <%= content_tag(:div,
                      {
                        "data-controller": "autogram",
                        "data-autogram-files-to-be-signed": files_to_be_signed.to_json.html_safe,
                        "data-autogram-authenticity-token": form_authenticity_token,
                        "data-autogram-signature-settings": signature_settings.to_json.html_safe,
                        "data-autogram-signing-progress-template": t("signing.signing_in_progress_with_progress"),
                        "data-autogram-modal-header-signing": t("signing.modal_header_signing"),
                        "data-autogram-modal-header-app-not-running": t("signing.modal_header_app_not_running")
                      }
          ) do %>
        <div data-autogram-target="waitingForAutogram">
          <p class="pb-4"><%= t("signing.waiting_for_autogram_launch") %></p>
        </div>

        <div data-autogram-target="appNotRunning" class="hidden">
          <%= link_to "Autogram", "autogram://go", class: "hidden", data: { "autogram-target": "openAutogramApp" } %>
          <p class="pb-4">
            <%= t("signing.app_not_running_description_prefix") %>
            <%= link_to t("signing.download_autogram"), "https://sluzby.slovensko.digital/autogram/#download", target: "_blank", class: "underline font-bold hover:no-underline" %>
            <%= t("signing.app_not_running_description_suffix") %>
          </p>
          <p data-autogram-target="macosHint" class="pb-4 hidden"><%= t("signing.app_not_running_macos_hint") %></p>

          <%= render Common::ModalActionsComponent.new %>
        </div>

        <div data-autogram-target="signingInProgress" class="hidden">
          <p data-autogram-target="signingProgressText" class="pb-2"><%= t("signing.signing_in_progress") %></p>
          <br>
          <p class="pb-4"><%= t("signing.signing_in_progress_hint") %></p>
        </div>

        <%= button_to "Úspešne podpísané",
                      @after_singing_path,
                      method: :patch,
                      params: { result: "ok" },
                      data: { "autogram-target": "doneOk" },
                      class: "hidden" %>

        <%= button_to "Podpisovanie zlyhalo",
                      @after_singing_path,
                      method: :patch,
                      params: { result: "error" },
                      data: { "autogram-target": "doneError" },
                      class: "hidden" %>
      <% end %>
    </div>
  <% end %>
<% end %>
