<div class="flex shrink-0 justify-center items-center relative overflow-hidden gap-1.5 <%= @classes %>">
    <span title="<%= @label %>" class="<%= @font_size_class %> h-fit text-left text-<%= @color %>-600 <%= @padding_classes %> rounded-md bg-<%= @color %>-100 border border-<%= @color %>-400">
      <%= @label %>
    </span>
</div>
