<div class="flex shrink-0 justify-center items-center relative overflow-hidden gap-1.5 px-2 py-1 rounded-md bg-<%= @box.color %>-100 border border-<%= @box.color %>-400 <%= @classes %>">
  <span class="<%= @font_size_class %> text-left text-<%= @box.color %>-600">
    <%= @box.short_name || @box.name[0] %>
  </span>
</div>
