<%= form_with url: message_thread_tags_path(@message_thread), method: :patch do |form| %>
  <% @tags_changes.init_assignments.each do |tag_id, value| %>
    <%= hidden_field_tag "tags_assignments[init][#{tag_id}]", value, id: "quick_tags_assignments[init][#{tag_id}]" %>
  <% end %>

  <% @tags.each do |tag| %>
    <div class="flex ml-1 gap-3">
      <div class="flex h-6 items-center">
        <%= hidden_field_tag "tags_assignments[new][#{tag.id}]", RelationChanges::REMOVE_SIGN, id: nil %>

        <% checkbox = RelationChanges::Checkbox.new(assignments: @tags_changes.tags_assignments, record_id: tag.id.to_s) %>
        <div class="flex gap-1.5 max-w-[calc(100vw-32px)] sm:max-w-[calc(100vw-64px)] items-center rounded-md px-1.5 py-[3px] text-xs sm:text-sm font-medium ring-1 ring-inset text-<%= tag.color || "gray" %>-600 bg-<%= tag.color || "gray" %>-50 ring-<%= tag.color || "gray" %>-500/10">
          <% if checkbox.indeterminate? %>
            <%= check_box_tag "tags_assignments[new][#{tag.id}]",
                              checkbox.value, checkbox.checked?,
                              data: { controller: "tri-state-checkbox", action: "click->tri-state-checkbox#nextState", "tri-state-checkbox-checked-value": RelationChanges::ADD_SIGN, "tri-state-checkbox-indeterminate-value": RelationChanges::KEEP_SIGN },
                              onchange: "this.form.requestSubmit(document.getElementById('assignments_update'));",
                              id: "new_quick_tags_assignments_#{tag.id}",
                              class: "h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600 cursor-pointer" %>
          <% else %>
            <%= check_box_tag "tags_assignments[new][#{tag.id}]", checkbox.value, checkbox.checked?, id: "new_quick_tags_assignments_#{tag.id}", class: "h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600 cursor-pointer", onchange: "this.form.requestSubmit(document.getElementById('assignments_update'));" %>
          <% end %>

          <% if tag.icon.presence || (tag.gives_access? ? "key" : nil) %>
            <%= render Common::IconComponent.new(tag.icon.presence || (tag.gives_access? ? "key" : nil), classes: "w-3 h-3") %>
          <% end %>
          <span title="<%= tag.name || tag.external_name %>" class="truncate">
            <%= tag.name || tag.external_name %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
