<%= tag.turbo_frame id: "tag-selector-popup" do %>
  <div class="flex flex-col gap-2">
    <div class="flex flex-wrap justify-start items-center gap-1">
      <% if @tags.any? %>
        <% @tags.each do |tag| %>
          <div class="flex justify-center items-center gap-1.5 px-2 py-1 rounded-md bg-blue-50 border border-blue-300 hover:cursor-pointer max-w-full">
            <%= form_with model: MessageThreadsTag.new(message_thread: @message_thread, tag: tag), data: { turbo_frame: '_top' }, class: "contents" do |f| %>
              <%= f.hidden_field :message_thread_id %>
              <%= f.hidden_field :tag_id %>
              <%= f.submit tag.name, class: "truncate text-sm text-left text-blue-600 hover:cursor-pointer max-w-full" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <% if @name_search.present? %>
      <div class="border-t border-gray-100 h-0">&nbsp;</div>
      <div class="gap-1.5 px-2 py-1 rounded-md bg-blue-50 border border-blue-300 hover:cursor-pointer self-start">
        <%= form_with model: MessageThreadsTag.new(message_thread: @message_thread), data: { turbo_frame: '_top' }, class: "contents" do |f| %>
          <%= f.hidden_field :message_thread_id %>
          <%= f.hidden_field :tag_name, value: @name_search %>
          <%= f.submit "(Vytvoriť nový štítok) #{@name_search}", class: "text-sm text-left text-blue-600 hover:cursor-pointer" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
