<tr>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
    <%= link_to @tag.name, admin_tenant_tag_path(Current.tenant, @tag) %>
  </td>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
    <%= @tag.visible %>
  </td>
  <% 
    case @tag_action
    when 'add' %>
  <td>
    <%= form_with model: [:admin, TagUser.new(tag_id: @tag.id, user_id: @user.id)], class: "contents" do |form| %>
      <%= form.hidden_field :tag_id %>
      <%= form.hidden_field :user_id %>
      <%= form.submit 'Assign tag' ,class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </td>
  <% end %>
<% else %>
  <td>
    <%= link_to 'Edit this tag', edit_admin_tenant_tag_path(Current.tenant, @tag), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  </td>
<% end %>
</tr>
