<h2>Podania</h2>

<div>
  <%= button_to "Vytvoriť nové podanie", submissions_path, :method => :get %>
  <br />
  <%= button_to "Nahrať balík podaní", upload_new_submission_packages_path, :method => :get %>
  <% if @submissions.any? %>
    <br />
    <%= button_to "Zmazať všetky", destroy_all_submissions_path, :method => :delete %>
  <% end %>
</div>

<% if @submissions.any? %>
  <br />
  <h3>Vytvorené podania</h3>
  <div>
    <table>
      <tr>
        <th>Podanie</th>
        <th>Balík</th>
        <th>Stav</th>
      </tr>

      <% @submissions.each do |submission| %>
        <tr>
          <td><%= link_to submission.title, submission_path(submission.id) %></td>
          <td><%= " #{submission.package&.base_name}" %></td>
          <td><%= " #{submission.status}" %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
