<h2>Podanie <%= @submission.message_subject %></h2>

<p>Stav: <%= @submission.status %></p>
<br />

<% if @submission.package %>
  <p>Z balíka: <%= @submission.package.base_name %></p>
  <br />
<% end %>

<%= form_tag submission_path(@submission.id), method: :delete, multipart: true do %>
  <%= submit_tag 'Zmazať', class: "btn btn-primary" %>
<% end %>

<br />
<% if @submission.submittable? %>
  <%= form_tag submission_submit_path(@submission.id), method: :post, multipart: true do %>
    <%= submit_tag 'Podať', class: "btn btn-primary" %>
  <% end %>
<% end %>

<% unless @submission.is_valid? %>
  <p>Errors: </p>
  <% @submission.validation_errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
