<h2>Podanie <%= @submission.message_subject %></h2>

<p>Stav: <%= @submission.status %></p>
<br />

<% if @submission.package %>
  <p>Z balíka: <%= @submission.package.base_name %></p>
  <br />
<% end %>

<%= form_tag submission_path(@submission), method: :delete do %>
  <%= submit_tag 'Zmazať' %>
<% end %>

<br />

<% if @submission.submittable? %>
  <%= form_tag submission_submit_path(@submission), method: :post do %>
    <%= submit_tag 'Podať' %>
  <% end %>
<% end %>

<% unless @submission.valid?(:validate_data) %>
  <p>Errors: </p>
  <ul>
    <% @submission.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>

