<h2>Drafty</h2>

<div>
  <%= link_to "Nahrať import", upload_new_messages_imports_path %>
</div>

<% if @messages.any? %>
  <br />
  <h3>Podania</h3>
  <div>
    <table>
      <tr>
        <th>Podanie</th>
        <th>Balík</th>
        <th>Stav</th>
      </tr>

      <% @messages.each do |message| %>
        <tr>
          <td><%= link_to message.title, message_path(message.id) %></td>
          <td><%= " #{message.import&.base_name || '-'}" %></td>
          <td><%= " #{message.metadata["status"]}" %></td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <% if @messages.any?(&:submittable?) %>
    <%= button_to "Podať všetky", submit_all_messages_path, method: :post %>
  <% end %>
<% end %>
