<h2>Detail zásielky</h2>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <tbody>
    <tr class="border-b border-gray-200 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
        Typ dokumentu
      </th>
      <td class="px-6 py-4">
        <%= message.title %>
      </td>
    </tr>
    <tr class="border-b border-gray-200 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
        Daňový subjekt
      </th>
      <td class="px-6 py-4">
        <%= message.recipient_name %>
      </td>
    </tr>
    <tr class="border-b border-gray-200 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
        DIČ
      </th>
      <td class="px-6 py-4">
        <%= message.metadata['dic'] %>
      </td>
    </tr>
    <tr class="border-b border-gray-200 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
        Odosielateľ podania
      </th>
      <td class="px-6 py-4">
        <%= message.metadata['fs_submitting_subject'] %>
      </td>
    </tr>
    <tr class="border-b border-gray-200 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
        Evidenčné číslo podania
      </th>
      <td class="px-6 py-4">
        <%= message.metadata['fs_sent_message_id'] %>
      </td>
    </tr>
    <tr class="border-b border-gray-200 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
        Evidenčné číslo zásielky
      </th>
      <td class="px-6 py-4">
        <%= message.metadata['fs_message_id'] %>
      </td>
    </tr>
    <tr class="border-b border-gray-200 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
        Dátum a čas prijatia EP
      </th>
      <td class="px-6 py-4">
        <%= message.metadata['fs_submission_created_at'] %>
      </td>
    </tr>
    <tr class="border-b border-gray-200 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
        Stav spracovania
      </th>
      <td class="px-6 py-4">
        <%= message.metadata['fs_submission_status'] %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
