<%= turbo_stream.update "forms_list" do %>
  <% if @forms_list && @forms_list.count > 1 %>
    <div>
      <label for="form" class="block mb-2 text-base font-medium text-gray-900">Typ správy</label>
    </div>
    <%= button_to fs_forms_form_selector_path, method: 'get', data: { turbo_frame: "modal" }, class: "text-gray-500 hover:text-gray-900 w-full" do %>
      <div id="form" class="text-sm rounded-lg block w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500">
        <p class="text-left"><%= params[:form_name].presence || 'Zvoľte typ správy' %></p>
      </div>
    <% end %>
  <% elsif @forms_list.count == 1 %>
    <div>
      <label for="form" class="block mb-2 text-base font-medium text-gray-900">Typ správy</label>
    </div>
    <div id="form" class="text-sm rounded-lg block w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500">
      <p class="text-left"><%= @forms_list.first[:name] %></p>
    </div>

    <%= turbo_stream.update "selected_form" do %>
      <%= hidden_field_tag 'form_id', @forms_list.first[:id] %>
    <% end %>
  <% end %>
<% end %>
