<%= turbo_stream.update "selected_form" do %>
  <%= hidden_field_tag 'form_id', @form_id %>
<% end %>

<%= turbo_stream.update "forms_list" do %>
  <div>
    <label for="form" class="block mb-2 text-base font-medium text-gray-900">Typ správy</label>
  </div>

  <%= button_to fs_forms_form_selector_path, method: :get, data: { turbo_frame: "modal" }, class: "text-gray-500 hover:text-gray-900 w-full" do %>
    <div id="form" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <p class="text-left"><%= @form_name %></p>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.update "modal" do %>
<% end %>
