<%= render partial: "fs/messages/style" %>

<table class="min-w-full divide-y divide-gray-300">
  <tbody class="divide-y divide-gray-200">
    <tr>
      <th>Typ dokumentu:</th>
      <td>
        <b><%= message.metadata.dig('fs_submission_type_name') || message.title %></b>
      </td>
    </tr>
    <tr>
      <th>Daňový subjekt:</th>
      <td>
        <b><%= message.recipient_name %></b>
      </td>
    </tr>
    <tr>
      <th>Identifikátor subjektu:</th>
      <td>
        <b><%= message.metadata['dic'] %></b>
      </td>
    </tr>
    <tr>
      <th>Odosielateľ podania:</th>
      <td>
        <b><%= message.metadata['fs_submitting_subject'] %></b>
      </td>
    </tr>
    <tr>
      <th>Evidenčné číslo podania:</th>
      <td>
        <b><%= message.metadata['fs_sent_message_id'] %></b>
      </td>
    </tr>
    <tr>
      <th>Evidenčné číslo potvrdenia:</th>
      <td>
        <b><%= message.metadata['fs_message_id'] %></b>
      </td>
    </tr>
    <tr>
      <th>Dátum a čas prijatia EP:</th>
      <td>
        <b>
          <time class="md:hidden" datetime="<%= message.metadata['fs_submission_created_at'] %>">
            <%= ApplicationController.helpers.nice_datetime_with_time(Time.parse(message.metadata['fs_submission_created_at']), full_date: true) %>
          </time>
        </b>
      </td>
    </tr>
    <tr>
      <th>Dátum a čas vystavenia potvrdenky:</th>
      <td>
        <b>
          <time class="md:hidden" datetime="<%= message.delivered_at %>">
            <%= ApplicationController.helpers.nice_datetime_with_time(message.delivered_at, full_date: true) %>
          </time>
        </b>
      </td>
    </tr>
    <tr>
      <th>Obdobie:</th>
      <td>
        <b><%= message.metadata['fs_period'] %></b>
      </td>
    </tr>
    <tr>
      <th>Stav spracovania:</th>
      <td>
        <b><%= message.metadata['fs_submission_status'] %></b>
      </td>
    </tr>
    <tr>
      <th>Dôvod zmeny stavu podania:</th>
      <td>
        <b><%= message.metadata['fs_dismissal_reason'] %></b>
      </td>
    </tr>
    <% if message.metadata['fs_other_attributes']&.present? %>
      <%# message.metadata['fs_other_attributes'].each do |k, v| %>
<!--        <tr>-->
<!--          <th><%#= k %>:</th>-->
<!--          <td>-->
<!--            <b><%#= v %></b>-->
<!--          </td>-->
<!--        </tr>-->
      <%# end %>
    <% end %>
  </tbody>
</table>
