<style>
  th {
    font-weight: normal;
    text-align: left;
  }
  th, td {
    padding: 0.25rem 2rem 0.25rem 0;
  }
</style>

<table>
  <tbody>
    <tr>
      <th>Typ dokumentu:</th>
      <td>
        <b><%= message.title %></b>
      </td>
    </tr>
    <tr>
      <th>Daňový subjekt:</th>
      <td>
        <b><%= message.recipient_name %></b>
      </td>
    </tr>
    <tr>
      <th>DIČ:</th>
      <td>
        <b><%= message.metadata['dic'] %></b>
      </td>
    </tr>
    <tr>
      <th>Odosielateľ podania:</th>
      <td>
        <b><%= message.metadata['fs_submitting_subject'] %></b>
      </td>
    </tr>
    <tr>
      <th>Evidenčné číslo podania:</th>
      <td>
        <b><%= message.metadata['fs_sent_message_id'] %></b>
      </td>
    </tr>
    <tr>
      <th>Evidenčné číslo zásielky:</th>
      <td>
        <b><%= message.metadata['fs_message_id'] %></b>
      </td>
    </tr>
    <tr>
      <th>Dátum a čas prijatia EP:</th>
      <td>
        <b>
          <time class="md:hidden" datetime="<%= message.metadata['fs_submission_created_at'] %>">
            <%= ApplicationController.helpers.nice_datetime_with_time(Time.parse(message.metadata['fs_submission_created_at']), keep_year: true) %>
            </time>
        </b>
    </tr>
    <tr>
      <th>Stav spracovania:</th>
      <td>
        <b><%= message.metadata['fs_submission_status'] %></b>
      </td>
    </tr>
  </tbody>
</table>
