<div class="w-full p-4 flex-col justify-start items-start gap-4 inline-flex">
  <div class="self-stretch bg-white rounded-md border border-gray-200 flex-col justify-start items-start flex">
    <div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
      <div class="grow shrink basis-0 text-gray-900 text-xl font-semibold leading-[35px]">Webhooky</div>
        <%= link_to new_admin_tenant_automation_webhook_path, data: { turbo_frame: "modal" }, class: "px-3.5 py-2.5 bg-blue-600 rounded-md justify-center items-center gap-2.5 flex" do %>
          <p class="text-white text-base font-medium leading-normal">Vytvoriť nový webhook</p>
        <% end %>
      </div>
    <div class="self-stretch flex-col justify-start items-start flex">
      <% @webhooks.each do |webhook| %>
        <div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
          <div class="relative inline-flex items-center justify-center w-16 h-16 overflow-hidden bg-blue-600 rounded-full">
            <span class="text-white text-2xl font-normal"><%= webhook.name[0] %></span>
          </div>
          <div class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex">
            <div class="text-center text-gray-900 text-lg font-medium leading-loose">
              <%= webhook.name %>
            </div>
            <div class="text-center text-gray-500 text-base font-normal leading-normal">
              <%= webhook.url %>
            </div>
          </div>
          <div class="justify-start items-start gap-2 flex">
            <%= link_to edit_admin_tenant_automation_webhook_path(webhook.tenant, webhook), data: { turbo_frame: "modal" } do %>
              <%= render Common::EditButtonComponent.new %>
            <% end %>
            <%= button_to admin_tenant_automation_webhook_path(webhook.tenant, webhook), method: :delete, data: { turbo_confirm: "Naozaj chcete zmazať webhook '#{webhook.name}'?" } do %>
              <%= render Common::DeleteButtonComponent.new %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
