<h2>Podania v balíku <%= @submission_package.name %> z <%= @submission_package.created_at.strftime('%d.%m.%Y %H:%M') %></h2>

<div>
  <p>Stav: <%= @submission_package.status %></p>

  <% @submission_package.submissions.each do |submission| %>
    <p>
      <%= link_to submission.message_subject, submission_path(submission.id) %>

      <% if submission.submitted? %>
        <span> - Odoslané</span>
      <% end %>
    </p>
  <% end %>
</div>

<%= form_tag submission_package_path(@submission_package.id), method: :delete, multipart: true do %>
  <%= submit_tag 'Zmazať', class: "btn btn-primary" %>
<% end %>

<br />
<% if @submission_package.submittable? %>
  <%= form_tag submission_package_submit_path(@submission_package.id), method: :post, multipart: true do %>
    <%= submit_tag 'Podať', class: "btn btn-primary" %>
  <% end %>
<% end %>
