<tr>
  <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-0"><%= @audit_log_item.happened_at.to_fs(:db) %></td>
  <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-0"><%= @audit_log_item.type %></td>
  <% if @audit_log_item.thread %>
    <td class="px-2 py-2 text-sm text-gray-500 hover:underline"><%= link_to @audit_log_item.thread_name, @audit_log_item.thread %></td>
  <% else %>
    <td class="px-2 py-2 text-sm text-gray-500"><%= @audit_log_item.thread_name %></td>
  <% end %>
  <td class="px-2 py-2 text-sm text-gray-900"><%= @audit_log_item.previous_value %></td>
  <td class="px-2 py-2 text-sm text-gray-500"><%= @audit_log_item.new_value %></td>
</tr>
