<div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex" id="<%= dom_id(@user) %>">
  <div class="relative inline-flex items-center justify-center w-16 h-16 overflow-hidden bg-blue-600 rounded-full">
    <span class="text-white text-2xl font-normal"><%= @user.name[0] %></span>
  </div>
  <div class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex">
    <div class="text-center text-gray-900 text-lg font-medium leading-loose">
      <%= render Common::InlineRenameComponent.new(name: @user.name, model: [:admin, @user.tenant, @user]) %>
    </div>
    <div class="text-center text-gray-500 text-base font-normal leading-normal">
      <%= @user.email %>
    </div>
  </div>
  <div class="justify-start items-center gap-2 flex">
    <% if Current.tenant.feature_enabled?(:audit_log) %>
      <%= link_to admin_audit_logs_path(actor: @user), title: "Auditné záznamy používateľa" do %>
        <%= render Common::ShowButtonComponent.new %>
      <% end %>
    <% end %>
    <%= link_to edit_admin_tenant_user_path(@user.tenant, @user), title: "Editovať používateľa" do %>
      <%= render Common::EditButtonComponent.new %>
    <% end %>
    <% if Pundit.policy(Current.user, [:admin, @user]).destroy? %>
      <%= button_to admin_tenant_user_path(@user.tenant, @user), method: :delete, title: "Vymazať používateľa", data: { turbo_confirm: "Naozaj chcete zmazať používateľa '#{@user.name}'? Spolu s ním budú zmazané všetky jeho rozpracované správy." } do %>
        <%= render Common::DeleteButtonComponent.new %>
      <% end %>
    <% end %>
  </div>
</div>
