<div class="w-full p-4 flex-col justify-start items-start gap-4 inline-flex">
  <div class="self-stretch bg-white rounded-md border border-gray-200 flex-col justify-start items-start flex">
    <div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
      <div class="grow shrink basis-0 text-gray-900 text-xl font-semibold leading-[35px]">Používatelia</div>
      <%= link_to new_admin_tenant_user_path, class: "px-3.5 py-2.5 bg-blue-600 rounded-md justify-center items-center gap-2.5 flex" do %>
        <p class="text-white text-base font-medium leading-normal">Vytvoriť používateľa</p>
      <% end %>
    </div>
    <div class="self-stretch flex-col justify-start items-start flex">
      <% @users.each do |user| %>
        <%= render Admin::Users::UsersListRowComponent.new(user) %>
      <% end %>
    </div>
  </div>
  <div class="self-stretch bg-white rounded-md border border-gray-200 flex-col justify-start items-start flex">
    <div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
      <div class="w-8 h-8 relative">
        <%= render Icons::InfoComponent.big_gray %>
      </div>
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex">
        <div class="text-center text-gray-900 text-lg font-medium leading-loose">Pridať používateľov do skupín</div>
        <div class="text-center text-gray-500 text-base font-normal leading-normal">Používatelia môžu byť rozdelení do skupín, napríklad podľa zodpovednosti</div>
      </div>
      <%= link_to admin_tenant_groups_path, class: "px-3.5 py-2.5 bg-white rounded-md border border-gray-300 justify-center items-center gap-2.5 flex hover:bg-gray-100" do %>
        <p class="text-gray-900 text-base font-medium leading-normal">Nastaviť skupiny</p>
      <% end %>
    </div>
    <div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
      <div class="w-8 h-8 relative">
        <%= render Icons::InfoComponent.big_gray %>
      </div>
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex">
        <div class="text-center text-gray-900 text-lg font-medium leading-loose">Určiť prístup skupín k správam</div>
        <div class="text-center text-gray-500 text-base font-normal leading-normal">Jednotlivé skupiny používateľov (ako aj samotný používatelia) môžu mať rozdielny prístup k správam</div>
      </div>
      <div class="px-3.5 py-2.5 bg-white rounded-md border border-gray-300 justify-center items-center gap-2.5 flex">
        <div class="text-gray-900 text-base font-medium leading-normal">Nastaviť prístup</div>
      </div>
    </div>
  </div>
</div>
