<h2>Drafty</h2>

<div>
  <%= link_to "Vytvoriť nový draft", drafts_path %>
  <br />
  <%= link_to "Nahrať import", upload_new_drafts_imports_path %>
  <% if @drafts.any? %>
    <br />
    <%= button_to "Zmazať všetky", destroy_all_drafts_path, method: :delete %>
  <% end %>
</div>

<% if @drafts.any? %>
  <br />
  <h3>Vytvorené podania</h3>
  <div>
    <table>
      <tr>
        <th>Podanie</th>
        <th>Balík</th>
        <th>Stav</th>
      </tr>

      <% @drafts.each do |draft| %>
        <tr>
          <td><%= link_to draft.title, draft_path(draft.id) %></td>
          <td><%= " #{draft.import&.base_name}" %></td>
          <td><%= " #{draft.status}" %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
