<!DOCTYPE html>
<html class = "h-full bg-white">
  <head>
    <title>GovboxPro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class = "h-full">
    <%= render TW::LightLayoutWithSidebarComponent.new do |component| %>
      <% component.with_mobile_sidebar do %>
        <%= render TW::MobileSidebarComponent.new(menu: @menu) %>
      <% end %>
      <% component.with_static_sidebar do %>
        <%= render TW::StaticSidebarComponent.new(menu: @menu) %>
      <% end %>
      <% component.with_top_navigation do %>
        <%= render TW::TopNavigationComponent.new(@current_tenant_boxes_count) %>
      <% end %>
      <% component.with_main_content do %>
        <%= yield %>
      <% end %>
    <% end %>
    <%= turbo_frame_tag :modal %>
  </body>
</html>
