<!DOCTYPE html>
<html>
  <head>
    <title>GovboxPro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>GovBox PRO</h1>
    <% if current_user&.logged_in? %>
      <p><%= current_user.email %></p>
      <%= button_to "Odhlásiť sa", sessions_path, method: :delete %>
    <% end %>
  <%= yield %>
  </body>
</html>
