<div class="self-stretch p-6 border-b border-gray-200 justify-start items-center gap-4 inline-flex">
  <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 w-[45px] gap-2">
    <%= render Common::BoxLabelComponent.new(@box) %>
  </div>
  <div class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex">
    <div class="text-center text-gray-900 text-lg font-medium leading-loose">
      <%= render Admin::Boxes::BoxRenameComponent.new(@box) %>
    </div>
    <div class="text-center text-gray-500 text-base font-normal leading-normal">
      <%= @box.uri %>
    </div>
  </div>
  <div class="justify-start items-start gap-2 flex">
    <%= link_to edit_admin_tenant_box_path(@box.tenant, @box), data: { turbo_frame: "modal" }  do %>
      <%= render Common::EditButtonComponent.new %>
    <% end %>
    <%= button_to admin_tenant_box_path(@box.tenant, @box),
                  method: :delete,
                  disabled: @box == Current.box,
                  data: { turbo_confirm: "Naozaj odstrániť schránku \"#{@box.name}\"?"} do %>
      <%= render Common::DeleteButtonComponent.new %>
    <% end %>
  </div>
</div>
